<div class="container" style="padding-top:50px;">
  <div class="row">
    <div class="col-md-8">
      <h2>Boardgames for <%= current_user.username %></h2>
    </div>
    <div class="col-md-4 text-right">
      <%= link_to "New", new_boardgame_path, class: "btn btn-secondary", style: "width:100px;" %>
      <%= link_to "Import", new_boardgame_path, class: "btn btn-secondary", style: "width:100px;" %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-dark", style: "width:100px;" %>
    </div>
  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col-md-12">
      <%= form_tag "/boardgames/import", method: :post do %>
        <div class="form-group">
          Import from BGG user: <%= text_field_tag :bgg_username %>
          <%= submit_tag "Import", class: "btn-small btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top:20px;">
    <div class="col-md-4">
      <strong>Game</strong>
    </div>
    <div class="col-md-2">
      <strong>Year</strong>
    </div>
    <div class="col-md-3">
      <strong>Players</strong>
    </div>
    <div class="col-md-3">
      <strong>Playing Time</strong>
    </div>
  </div>

  <% @boardgames.each do |boardgame| %>
    <div class="row" style="margin-top:10px;">
      <div class="col-md-4">
        <%= link_to boardgame.name, boardgame_path(boardgame) %>
      </div>
      <div class="col-md-2">
        <%= boardgame.year_published %>
      </div>
      <div class="col-md-3">
        <%= boardgame.min_players %>-<%= boardgame.max_players %>
      </div>
      <div class="col-md-3">
        <%=boardgame.min_playing_time %>-<%= boardgame.max_playing_time %>
      </div>
    </div>
  <% end %>
</div
